*{
    margin: 0px;
    font-family: Arial;
    border: border-box;     /*for making the border within the designated space*/
}
/*nav-bar*/
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: flex-start;
    align-items: center;
}
/* nav-logo (this is the parent container for the logo) */
/*box-1 */
.nav-logo{
    height: 50px;
    width: 100px;
    padding: 5px;
}
/* This is the the actual logo div itself */
.logo{
    background-image: url(images/amazon_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
/* add border in boxes for the hover  */
.border{
    border: 1.5px solid transparent;
}
/* add hover settings */
.border:hover{
    border: 1.5px solid white;
}
/* the navaddress (deliver to India) starts here  */
.navaddress{
    align-items: center;
}
.add-first{
    font-size: 0.75rem;
    color: #cccc;
    margin-left: 24px;
}
/* the search bar starts here  */
.search-panel{
    display: flex;
    /* width: 900px; */ /*this was removed on suggestion by gemini for good scalability*/
    flex-grow: 1;
    margin: 0 15px;
    border: 2px solid transparent;
    border-radius: 4px 4px;
}
.search-panel:hover{
    border: 2px solid orange;
}
.all-panel{
    /* margin-left: 20px; */
    height: 45px;
    width: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-bar{
    width: 100%; 
}
.search-glass{
    height: 45px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:orange;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
/* This is the accounts box  */
.sign-in{
    font-size: 0.8rem;
}
.accounts{
    display: block;
}
/* this is the return section box  */
.return-section{
    margin: 0 10px;
}
.return{
    font-size: 0.8rem;
}
.orders{
    display: block;
}