*{
    margin: 0px;
    font-family: Arial;
    border: border-box;     /*for making the border within the designated space*/
}
/*nav-bar*/
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
/* nav-logo (this is the parent container for the logo) */
/*box-1 */
.nav-logo{
    height: 50px;
    width: 100px;
    padding: 5px;
}
/* This is the the actual logo div itself */
.logo{
    background-image: url(images/amazon_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
/* add border in boxes for the hover  */
.border{
    border: 1.5px solid transparent;
}
/* add hover settings */
.border:hover{
    border: 1.5px solid white;
}
/* the navaddress (deliver to India) starts here  */
.navaddress{
    align-items: center;
}
.add-first{
    font-size: 0.75rem;
    color: #cccc;
    margin-left: 24px;
}
/* the search bar starts here  */
.search-panel{
    display: flex;
}